#Problem 1(a).  Unionized workers.

These problems use the 1985 Current Population Survey data, ```cps.csv```, from last week.

Create a pandas data frame to hold the CPS data.  Write a function that computes the average hourly wage of a unionized worker by using control flow to iterate through each row of the data frame.

In [2]:
import pandas as pd
cps_df = pd.read_csv('cps.csv')
# data frame is created and printed
cps_df

      wage  educ race sex hispanic south  married  exper  union  age    sector
0     9.00    10    W   M       NH    NS  Married     27    Not   43     const
1     5.50    12    W   M       NH    NS  Married     20    Not   38     sales
2     3.80    12    W   F       NH    NS   Single      4    Not   22     sales
3    10.50    12    W   F       NH    NS  Married     29    Not   47  clerical
4    15.00    12    W   M       NH    NS  Married     40  Union   58     const
5     9.00    16    W   F       NH    NS  Married     27    Not   49  clerical
6     9.57    12    W   F       NH    NS  Married      5  Union   23   service
7    15.00    14    W   M       NH    NS   Single     22    Not   42     sales
8    11.00     8    W   M       NH    NS  Married     42    Not   56     manuf
9     5.00    12    W   F       NH    NS  Married     14    Not   32     sales
10   24.98    17    W   M     Hisp    NS  Married     18    Not   41      prof
11   20.40    17    W   M       NH    NS   Single      3    Not   26      prof
12   25.00    14    W   M     Hisp    NS   Single      4  Union   24   service
13   13.98    14    W   M       NH    NS   Single     14    Not   34     other
14    3.50    12    W   M       NH    NS  Married     35    Not   53  clerical
15    5.00    14    W   M     Hisp    NS   Single      0    Not   20     sales
16   10.00    16    W   M     Hisp    NS  Married      7  Union   29     manag
17   15.00    16   NW   M       NH    NS  Married     26  Union   48     manag
18    5.83    13   NW   M       NH    NS   Single      3    Not   22   service
19    9.10    13    W   M     Hisp    NS   Single     16    Not   35  clerical
20   11.25    17   NW   F       NH    NS  Married     32    Not   55  clerical
21   13.00    12   NW   M       NH    NS  Married     25  Union   43   service
22    8.00    14    W   F       NH    NS   Single     15  Union   35  clerical
23    4.28    12    W   F       NH    NS  Married     38    Not   56   service
24    7.88    16   NW   M       NH    NS  Married     17    Not   39  clerical
25    6.94    12    W   F       NH    NS   Single      7    Not   25   service
26   24.98    17    W   F       NH    NS   Single      5    Not   28      prof
27   10.00    14    W   M       NH    NS  Married     22    Not   42      prof
28   13.75    14    W   M       NH    NS  Married     21    Not   41     sales
29    5.62    13    W   F     Hisp    NS  Married      2    Not   21  clerical
..     ...   ...  ...  ..      ...   ...      ...    ...    ...  ...       ...
504   5.15    13    W   M       NH     S   Single      1  Union   20   service
505  26.29    17    W   M       NH     S  Married     32    Not   55     manag
506   2.01    13    W   M       NH     S   Single      0    Not   19   service
507   5.00    12    W   F       NH     S   Single     26    Not   44  clerical
508   8.75    11    W   F       NH    NS   Single     36    Not   53   service
509  12.50    14    W   F       NH    NS  Married     19    Not   39   service
510   4.00    12    W   M       NH    NS   Single     12    Not   30   service
511   4.50    16    W   M       NH    NS  Married     21    Not   43   service
512   6.50    12    W   F       NH    NS   Single     11    Not   29      prof
513   5.50    12    W   M       NH    NS  Married     10    Not   28   service
514   6.88    17    W   F       NH    NS  Married     15    Not   38     manag
515   6.15    16    W   F       NH    NS   Single     16    Not   38      prof
516   7.78    12    W   M       NH    NS  Married     23    Not   41     manuf
517   1.00    12    W   M       NH    NS  Married     24    Not   42     manag
518  12.50    17    W   F       NH    NS  Married     13  Union   36      prof
519   8.85    14   NW   F       NH    NS  Married     19  Union   39  clerical
520   4.35    11    W   F       NH    NS  Married     20    Not   37   service
521  11.36    18    W   M       NH    NS   Single      5    Not   29      prof
522   8.93     8    W   M     Hisp    NS  Married     47  Union   61   service
523   3.50    11    W   F       NH    NS  Married     33    Not   50     sales
524  26.00    14    W   M       NH    NS  Married     21  Union   41     other
525   8.00    12    W   F       NH    NS  Married     19    Not   37     manuf
526  16.00    14    W   M       NH    NS  Married     20  Union   40     other
527   5.35    12    W   F       NH    NS  Married     13    Not   31   service
528  23.25    17   NW   F       NH    NS  Married     25  Union   48      prof
529   8.63    12   NW   F       NH    NS  Married     18    Not   36  clerical
530  18.50    14    W   F       NH    NS   Single     13    Not   33     manuf
531  22.20    18    W   M       NH    NS  Married      8    Not   32      prof
532  16.26    12   NW   M       NH    NS   Single     14  Union   32   service
533  19.47    12    W   M       NH    NS   Single      9    Not   27     other

[534 rows x 11 columns]

In [15]:


# returns the avg from calculating each row and finding the union column and traversing down, with 
def avg_hr_wage(data_frame):
    u_wages = []
    for i in data_frame.index:
        if(data_frame.ix[i]["union"] == "Union"):
            u_wages.append(data_frame.ix[i]["wage"])
    avg = sum(u_wages) / len(u_wages)
    return avg



avg_hr_wage(cps_df)

10.798125000000001

#Problem 1(b).  More unionized workers.

Write a function that takes a row of a data frame as input.  Your function should return 0 if a worker is not unionized, and the worker's hourly wage if the worker is unionized.  Apply this function to your data frame, then use the resulting series to compute the average hourly wage of a unionized worker.

In [20]:
def union_status(row):
    
    if row['union'] == 'Not':
        return 0
    else:
        return row['wage']

In [29]:
unionized_df = cps_df.apply(union_status,axis=1)
# prints the rows including zeros
#unionized_df

In [30]:
new_df = unionized_df[unionized_df > 0]
#mean of the zero's excluded
new_df.mean()

10.798125

# Problem 1(c).  Selecting and analyzing unionized workers.

Write code that selects the unionized workers, then computes the average hourly wage of the resulting subset.

In [32]:
new_df1 =  cps_df

new_df1[new_df1["union"] == "Union"]["wage"].mean()

10.798125

#Problem 1(d).  Timing.

Use the ```%time``` or ```%timeit``` magic commands to compare your code from 1(a), 1(b), and 1(c).  Create a markdown cell which explains which summarizes the results of your comparison.  Can you explain what makes the fastest code fastest?

In [38]:
%%timeit 
avg_hr_wage(cps_df)

10 loops, best of 3: 127 ms per loop

In [39]:
%%timeit
new_df = unionized_df[unionized_df > 0]
#mean of the zero's excluded
new_df.mean()

1000 loops, best of 3: 316 µs per loop

In [40]:
%%timeit
new_df1[new_df1["union"] == "Union"]["wage"].mean()

1000 loops, best of 3: 1.03 ms per loop